@model PaginationMoviesViewModel

@{
    ViewData["Title"] = "All Movies";
}
<h2 class="pb-3 ml-3 text-info">All Movies</h2>

<div class="row mt-3 mb-3 ml-1">
    <form asp-controller="Albums" asp-action="All" method="get">
        <label class="font-weight-bold" asp-for="@Model.Search"></label>
        <span>Search by </span>
        <input type="text" asp-for="@Model.Search" />
        <span>and/or <strong>Genre</strong></span>
        <select asp-for="Genre" asp-items="Model.Genres">
            <option></option>
        </select>
        <input class="btn btn-info" type="submit" value="Search" />
    </form>
</div>

@for (int i = 0; i < Model.IndexMovieViewModels.Count; i += 4)
{
    <div class="row mb-2">
        @for (int k = 0; k <= 3 && k + i < Model.IndexMovieViewModels.Count; k++)
        {
            <div class="col-md-3">
                <div class="card" style="width: 17rem;">
                    <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.IndexMovieViewModels[k + i].Id">
                        <img class="card-img-top" src="@Model.IndexMovieViewModels[k + i].Poster" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.IndexMovieViewModels[k + i].Id">
                            <h5 class="card-title">@Model.IndexMovieViewModels[k + i].Title</h5>
                        </a>
                        <p class="card-text">@Model.IndexMovieViewModels[k + i].ShortStoryline</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Rating</strong>: @Model.IndexMovieViewModels[k + i].Rating.ToString("F1") / 10
                        </li>
                        <li class="list-group-item">
                            <strong>Release Date</strong>: @Model.IndexMovieViewModels[k + i].DateReleased
                        </li>
                    </ul>
                    <div class="card-body">
                        <strong>Genres: </strong>
                        @for (int g = 0; g < Model.IndexMovieViewModels[k + i].Genres.Count; g++)
                        {
                            var genre = Model.IndexMovieViewModels[k + i].Genres[g];
                            if (g != Model.IndexMovieViewModels[k + i].Genres.Count - 1)
                            {
                                <a asp-area="" asp-controller="Movies" asp-action="All" asp-route-genre="@genre.Name">@genre.Name,</a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Movies" asp-action="All" asp-route-genre="@genre.Name">@genre.Name</a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

<partial name="_PaginationPartial" />
