@model List<NetPhlixDb.Data.ViewModels.Movies.IndexMovieViewModel>

@{
    ViewData["Title"] = "All Movies";
}
<div class="container pt-4 pb-4">
    <h2 class="pb-3 ml-3">All Movies</h2>
    @for (int i = 0; i < Model.Count(); i += 2)
    {
        <div class="card-deck">
            @for (int k = 0; k <= 1 && k + i < Model.Count; k++)
            {
                <div class="col-sm-6">
                    <div class="card mb-2">
                        <img class="card-img-top w-100" style="height: 250px" src="@Model[k + i].Poster" alt="@Model[k + i].Title">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5 class="card-title">@Model[k + i].Title</h5>
                                    <p class="card-text">@Model[k + i].ShortStoryline</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><strong>Rating</strong>: @Model[k + i].Rating.ToString("F1") / 10</p>
                                    <p>@Model[k + i].DateReleased</p>
                                </div>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model[k + i].Id" class="btn btn-primary mx-auto">More Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="row mt-3">
        @{var prev = this.ViewBag.CurrentPage - 1;}
        @{var next = this.ViewBag.CurrentPage + 1;}
        <div class="col text-center">
            <a asp-controller="Movies" asp-action="All" asp-route-currentPage="@this.ViewBag.FirstPage" class="btn btn-success">First</a>
        </div>
        <div class="col text-right">
            <a asp-controller="Movies" asp-action="All" asp-route-currentPage="@prev" class="btn btn-success">Previous</a>
        </div>
        <div class="col text-left">
            <a asp-controller="Movies" asp-action="All" asp-route-currentPage="@next" class="btn btn-success">Next</a>
        </div>
        <div class="col text-center">
            <a asp-controller="Movies" asp-action="All" asp-route-currentPage="@this.ViewBag.LastPage" class="btn btn-success">Last</a>
        </div>
    </div>
</div>
