@model PaginationMoviesViewModel

@{
    ViewData["Title"] = "All Movies";
}

    <div class="row mt-3 mb-3 ml-1">
        <form asp-controller="Albums" asp-action="All" method="get">
            <label class="font-weight-bold" asp-for="@Model.Search"></label>
            <span>Search by </span>
            <input type="text" asp-for="@Model.Search" />
            <span>and/or <strong>Genre</strong></span>
            <select asp-for="Genre" asp-items="Model.Genres">
                <option></option>
            </select>
            <input class="btn btn-info" type="submit" value="Search" />
        </form>
    </div>
    <h2 class="pb-3 ml-3 text-info">All Movies</h2>

    @for (int i = 0; i < Model.IndexMovieViewModels.Count; i+=4)
    {
        <div class="card-group">
            @for (int k = 0; k <= 3 && k + i < Model.IndexMovieViewModels.Count; k++)
            {
                <div class="card" style="width: 12rem;">
                    <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.IndexMovieViewModels[k + i].Id">
                        <img class="card-img-top" src="@Model.IndexMovieViewModels[k + i].Poster" alt="@Model.IndexMovieViewModels[k + i].Title">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@Model.IndexMovieViewModels[k + i].Title</h5>
                        <p class="card-text">@Model.IndexMovieViewModels[k + i].ShortStoryline</p>
                        <p class="card-text">Rating: @Model.IndexMovieViewModels[k + i].Rating / 10</p>
                        <p class="card-text"><small class="text-muted">@Model.IndexMovieViewModels[k + i].DateReleased</small></p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.IndexMovieViewModels[k + i].Id">Read more</a>
                    </div>
                </div>
            }
        </div>
    }

<partial name="_PaginationPartial"/>