@model NetPhlixDb.Data.ViewModels.People.PersonViewModel

@{
    ViewData["Title"] = "Celebrity Details";
}

<div class="container w-75">
    <h2 class="text-center mb-4 mt-4 text-info">@Model.Name</h2>
    <div class="card mx-auto" style="width: 28rem;">
        <img class="card-img-top" src="@Model.Picture" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name - @Model.Role</h5>
            <p class="card-text text-justify">@Model.Bio</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Birth date</strong>: @Model.BirthDate.ToString("MMM/dd/yyyy")</li>
            <li class="list-group-item"><strong>Birth place</strong>: @Model.BirthPlace</li>
        </ul>
        @*<div class="card-body">
            <a href="#" class="card-link">@Model.</a>
            <a href="#" class="card-link">Another link</a>
        </div>*@
    </div>
    <h4 class="text-center mt-4 mb-1">Known for</h4>
    @{ var pMovies = Model.PersonMovieViewModels;}
    @for (int i = 0; i < pMovies.Count; i += 2)
    {
        <div class="row mx-auto w-75">
            @for (int k = 0; k <= 1 && k + i < pMovies.Count; k++)
            {
                <div class="col-md">
                    <div class="card border-primary mb-3 mt-3" style="max-width: 15rem;">
                        <div class="card-header">(@pMovies[k + i].DateReleased.Year)</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title"><a asp-controller="Movies" asp-action="Details" asp-route-id="@pMovies[k + i].Id">@pMovies[k + i].Title</a></h5>
                            <p class="card-text">@pMovies[k + i].Storyline</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div class="text-center">
    <a class="btn btn-primary w-25 mt-2 mb-2" href="##" onClick="history.go(-1); return false;">Back</a>
</div>