@model IEnumerable<NetPhlixDb.Data.ViewModels.Admin.Movies.IndexAdminMovieViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="AddGenre" asp-route-id="@item.Id">Add Genre</a> |
                    <a asp-action="AssignPerson" asp-route-id="@item.Id">Assign Person</a> |
                    <a asp-action="UnassignPerson" asp-route-id="@item.Id">Unassign Person</a>
                </td>
            </tr>
        }
    </tbody>
</table>
