@model NetPhlixDb.Data.ViewModels.Reviews.ReviewsMovieAddReviewViewModel


@{
    ViewData["Title"] = "Movie Reviews";
}

<h2 class="text-center mt-4">@Model.MovieTitle - Reviews</h2>
<hr class="w-75" />
<div class="row w-75 mx-auto mt-2">
    @foreach (var r in Model.MovieReviewViewModels)
    {
        var dateAdded = (int)(DateTime.UtcNow - r.DateAdded).TotalDays;
        <div class="col-sm-3">
            <a asp-controller="Users" asp-action="Details" asp-route-id="@r.UserId"><img src="@r.UserAvatar" style="height: 70px; width: 58px" class="img-fluid"></a>
            <div class=""><a asp-controller="Users" asp-action="Details" asp-route-id="@r.UserId">@r.UserName</a></div>
            <div class="mx-1 mt-1 mb-3">Added @dateAdded day ago<br /></div>
        </div>
        <div class="col-sm-9 text-center mt-1">
            <div class="card-title font-weight-bold">@r.Title</div>
            <div class="card-text">@r.Content</div>
        </div>
    }
</div>

<div class="row mt-4 w-75 mx-auto">
    <div class="col-md">
        <h2 class="text-center">Add review</h2>
        <form asp-controller="Reviews" asp-action="Add" method="post">
            <div class="row text-center">
                <div class="col-md form-group">
                    <label class="col-form-label" asp-for="@Model.Title"></label>
                    <input class="form-control" asp-for="@Model.Title" placeholder="Title..."/>
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                <div class="col-md form-group">
                    <label class="col-form-label" asp-for="@Model.Rating"></label>
                    <input class="form-control" asp-for="@Model.Rating" placeholder="Rating..."/>
                    <span asp-validation-for="@Model.Rating" class="text-danger"></span>
                </div>
            </div>
            <textarea class="form-control" cols="50" asp-for="@Model.Content" placeholder="Enter your review here..." rows="5"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
            <input type="hidden" asp-for="@Model.MovieId"/>
            <input type="hidden" asp-for="@Model.UserId"/>
            <div class="text-right mt-1">
                <button class="btn btn-success btn" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-primary w-25 mt-2 mb-2" href="##" onClick="history.go(-1); return false;">Back</a>
</div>