@model IList<NetPhlixDb.Data.ViewModels.IndexMovieViewModel>

@{
    ViewData["Title"] = "NetPhlix Home Page";
}

<div class="container pt-4 pb-4">
    <h3 class="pb-3">Popular Movies</h3>
    @for (int i = 0; i < Model.Count(); i += 2)
    {
        <div class="row">
            @for (int k = 0; k <= 1 && k + i < Model.Count; k++)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <img class="card-img-top w-100" style="height: 250px" src="@Model[k + i].Poster" alt="@Model[k + i].Title">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="card-title">@Model[k + i].Title</h5>
                                    <p class="card-text">@Model[k + i].ShortStoryline</p>
                                    <a href="/Movies/Details?id=@Model[k + i].Id" class="btn btn-primary">More Info</a>
                                </div>
                                <div class="col-sm-6">
                                    <p><strong>Rating</strong>: @Model[k + i].Rating</p>
                                    <p>@Model[k + i].DateReleased</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>